<%-include('partials/header'); %> 



<main class="main ">
<div class="d-flex container justify-content-between">
    <div class=" mainBox">
        <h2 class="mainHeading">Welcome To Listing</h2>
        <h2 class="mainHeading">List your business</h2>
        <h2 class="mainHeading">And find  customers</h2>


        <div class="search-div"><input type="textbox" autocomplete="off" placeholder="What are you looking for?" name="query" value="" class="home-search-element"></div>
    </div>
    <div class="mainImag ">
        <div class="yellowback">

        </div>
        <img src="/images/hero-girl.png" alt="">
    </div>
</div>
</main>

<%- include('partials/footer'); %> 